.main{
    display: flex;
}

.main section{
    flex: 1;
}

.area_mensagem{
    margin-top: 1em;
    z-index: '9999999999',

}

.cards_area{
    display: flex;
}

.cards_area .card{
    flex: 1;
}

.card {
    max-width: 250px;
}

form {
    width: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}

fieldset {
    padding: 10px;
    margin-bottom: 20px;
}