<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Mar-len - {% block title %}Gestor de Organização{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% load static %}

        <!-- FavCon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/imgs/favcon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/imgs/favcon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/imgs/favcon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'base/imgs/favcon/site.webmanifest' %}">
    <meta name="theme-color" content="#ffffff">
    <!--  -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}" media="screen" />

    {% block css_logado %}
    {% endblock %}

    {% block css %}
    {% endblock %}

</head>
<body>
    {% include "base/includes/header.html" %}

    <main class="main">
        {% block menu %}
        {% endblock %}
        <section class="d-flex flex-column justify-content-center align-items-center">
            <div class="row">
                <div class="col">
                    {% block messages %}
                    <div class="area_mensagem">
                        <div class="container-sm">
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endblock %}
                    
                    {% block container %}
                    {% endblock %}
                </div>
            </div>
        </section>
    </main>


    

    {% include "base/includes/footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="{% static 'base/js/script.js' %}" ></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>